$primary: #43f8c1;
$primary-hover: #05976b;
$primary-ghost: #e2fdf5;
$primary-ghost-text: #88f6d6;

$secondary: #5eb4da;
$secondary-hover: #1d607e;
$secondary-ghost: #e6f3f9;
$secondary-ghost-text: #98cde6;

$tertiary: #4f54d2;
$tertiary-hover: #1d2073;
$tertiary-ghost: #e4e5f8;
$tertiary-ghost-text: #989ce4;

$quaternary: #6b91e6;
$quaternary-hover: #183d90;
$quaternary-ghost: #e8eefb;
$quaternary-ghost-text: #95b1ec;

$gray-200: #ededed;
$gray-300: #e7e7e7;
$gray-500: #c7c7c7;
$gray-700: #9e9e9e;
$gray-900: #333333;
$gray-text: #b0bec5;

$text-outFocuse: #464646;
$text-gray: #858585;
$text-white: #ffffff;

$base-dark: #333333;
$base-light: #fefefe;
$black: #000000;
$white: #ffffff;
